# IntelliJ IDEA
.idea/

# Binaries
bin/
exercism-mentoring-request-notifier
*.exe

# Config
default_config.json
stage-config.json
dev-config.json

# Log
log/

# Cache
cache.json

# README
README.md

# Git
.gitignore
.git/

# Testcoverage
cover.out

