# IntelliJ IDEA
.idea/

# Binaries
bin/
exercism-mentoring-request-notifier
*.exe

# Config
config.json
default_config.json

# Log
log/

# Cache
cache.json

# README
README.md

# Git
.gitignore
.git/

